<p id="notice"><%= notice %></p>

<h1>Listing Clubes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Presidente</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubes.each do |clube| %>
      <tr>
        <td><%= clube.nome %></td>
        <td><%= clube.descricao %></td>
        <td><%= clube.presidente %></td>
        <td><%= clube.email %></td>
        <td><%= link_to 'Show', clube %></td>
        <td><%= link_to 'Edit', edit_clube_path(clube) %></td>
        <td><%= link_to 'Destroy', clube, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clube', new_clube_path %>
