<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @clube.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @clube.descricao %>
</p>

<p>
  <strong>Presidente:</strong>
  <%= @clube.presidente %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clube.email %>
</p>

<%= link_to 'Edit', edit_clube_path(@clube) %> |
<%= link_to 'Back', clubes_path %>
